# Java & Maven
target/
*.class
*.jar

# Environment & Secrets
.env

# Data Lake (Keep large data out of GitHub
quantum_data/
data_lake/
*.cache
*.parquet
*.csv

# System Junk
Zone.Identifier
.DS_Store